@font-face {
    font-family: "Comic Sans MS";
    src: url("https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot");
    src: url("https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.svg#Comic Sans MS")format("svg");
}

body {
    text-align: center;
    color: #FFFFFF;
    font-size: 120%;
    background-color: #212123;
    font-family: 'Comic Sans MS';
}

.wrap {
    max-width: 800px;
    margin: auto;
    box-align: center;
}

.icon {
    border-radius:20px;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.icon:hover {
    opacity: 0.7;
}
