body {
    text-align: center;
    color: #FFFFFF;
    font-size: 120%;
    background-color: #212123;
    font-family: cursive;
}

.wrap {
    max-width: 800px;
    margin: auto;
    box-align: center;
}

.icon {
    border-radius:20px;
    display:inline-block;
    width: 40px;
    height: 40px;
}

.icon:hover {
    opacity: 0.7;
}
